<%- include('../partials/header') %>

<div class="container">
	<div class="row d-flex" style="justify-content: center;">
		<div class="col-md-10 product-show">
			<div class="d-flex">
				<h1><%= product.title %></h1>
				<form class="ml-auto mt-2" action="/products/<%= product.id %>?_method=DELETE" method="POST">
	              <input class="btn btn-dark" type="submit" value="Delete">
	            </form>
			</div>
			<h6>$ <%= product.price %></h6>
			<p><%= product.description %></p>
		</div>
	</div>
</div>


<%- include('../partials/footer') %>